@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* --primary-color: #EE4B2B */
    --primary-color: rgb(127 29 29);
    /* --border-color: rgb(255, 195, 195)*/
    --border-color: rgb(254, 202, 202)
}

html{
    scroll-behavior: smooth;
}

.show-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    margin-top: 88px;
    padding: 10px;
    /* color: rgb(255, 195, 195); */
}

.show-nav > li{
    border-bottom: 1px solid var(--border-color)
}

.show-cross{
    display: flex;
}

.bg-image{
    background-image: url("./images/map1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    opacity: 0.2;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.contact-bg{
    background-image: url("./images/contact truck.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* opacity: 0.5; */
}

.transparent{
    background-color: rgba(0, 0, 0, 0.5);
}