@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #EE4B2B
    /* --primary-color: rgb(238, 75, 43) */
}

.show-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    margin-top: 88px;
    padding: 10px;
}

.show-nav > li{
    border-bottom: 1px solid var(--primary-color);
}

.show-cross{
    display: flex;
}

.bg-image{
    background-image: url("./images/map1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    opacity: 0.2;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}