@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #EE4B2B
}

.show-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    margin-top: 65px;
    padding: 10px;
}

.show-cross{
    display: flex;
}